
//layout 

$Mobile-width: 375px;
$Desktop-width: 1440px;

// Primary Colors

$Dark-Violet: hsl(256, 26%, 20%);
$Grayis-Blue: hsl(216, 30%, 68%);

// Neutral Colors

$Very-Dark-Violet: hsl(270, 9%, 17%);
$Dark-Grayish-Violet: hsl(273, 4%, 51%);
$Very-Light-Gray: hsl(0, 0%, 98%);

// font-family
$DM-font-family: 'DM Serif Display', serif;
$Karla-font-family: 'Karla', sans-serif;